.markdown-reading-view .block-language-cardlink {
    margin: var(--p-spacing) 0;
}

.auto-card-link-container {
    position: relative;
    user-select: none;

    --auto-card-link-button-width: calc(var(--icon-size) + var(--size-2-3));
    --auto-card-link-indent-size: 2.5em;

    &[data-auto-card-link-depth="0"] { margin-left: 0; }
    &[data-auto-card-link-depth="1"] { margin-left: var(--auto-card-link-indent-size); }
    &[data-auto-card-link-depth="2"] { margin-left: calc(var(--auto-card-link-indent-size) * 2); }
    &[data-auto-card-link-depth="3"] { margin-left: calc(var(--auto-card-link-indent-size) * 3); }
}

.auto-card-link-error-container {
    max-width: 780px;
    margin: 1em auto;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--background-modifier-error);
    padding: 10px;
    font-family: var(--font-text);

    &:hover {
        background: var(--background-modifier-error-hover);
    }
}

.auto-card-link-card {
    min-height: 100px;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    background: var(--background-primary-alt);
    border: solid var(--border-width) var(--divider-color);
    border-radius: var(--radius-s);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        background: var(--background-modifier-hover);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        text-decoration: none;
    }
}

.auto-card-link-thumbnail {
    width: 250px;
    border-start-end-radius: var(--radius-s);
    border-end-end-radius: var(--radius-s);
    object-fit: cover;
    object-position: center;
    margin: 0;
    pointer-events: none;
}

.auto-card-link-main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.6em; /* Added padding for the text content */
}

.auto-card-link-title {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.4em;

    &:hover { color: var(--link-external-color-hover); }
}

.auto-card-link-description {
    color: var(--text-muted);
    font-size: var(--font-smallest);
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.auto-card-link-host {
    font-size: var(--font-smallest);
    display: flex;
    align-items: center;
    color: var(--text-muted);

    &:hover { color: var(--link-external-color-hover); }
}

.auto-card-link-favicon {
    width: 16px;
    height: 16px;
    margin-right: 0.5em;
}

.auto-card-link-copy-url {
    position: absolute;
    right: 0.4em;
    bottom: 0.4em;
    display: none;
    z-index: 1;

    .auto-card-link-container:hover & {
        display: inline-block;
    }
}

.edit-block-button, .auto-card-link-copy-url {
    border: solid var(--border-width) var(--divider-color);
    background: rgba(0, 0, 0, 0.5);
}

.auto-card-link-copy-url:hover {
    background: black;
}